---
import "../styles/tailwind.css";
import "animate.css";
const { title } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{Astro.props.title}</title>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet" />
  </head>
  <body class="bg-custom-lightpink raleway-regular mx-4 sm:mx-16 md:mx-20 lg:mx-32 my-8 md:my-16">
    <header></header>

    <main>
      <slot />
    </main>

    <footer></footer>
  </body>
</html>
